html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align:center;
    text-transform: uppercase;
    background-color: rgb(120, 120, 120);
    padding: 20px;
    color: white;
    border-radius: 6px;
}